---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">

      <table>
        <thead>
          <tr>
            <th><strong>Assignment</strong></th>
            <th><strong>Due date</strong></th>
            <th><strong>Status</strong></th>
          </tr>
        </thead>
        <tbody>
          {%- for post in site.posts -%}

            {%- assign date_format = site.minima.date_format | default: "%d-%b-%y" -%}
            
            <tr>
              <td>
                <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
                </a>
              </td>
              <td>{{ post.due_date | date: date_format }}</td>
              <td>{{ post.status }}</td>
            </tr>

          {%- endfor -%}
          

        </tbody>
      </table>

      
    </ul>
  {%- endif -%}

</div>
